<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World utilizando EJS</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="col-ls-2" style="margin-right: 10em">
        <!-- <%- body %> -->
        <%- login %>
    </div>
</body>
</html>