<!doctype html>
<html>
<link src="/dist/views/style/style.css" type="text/css">

<head>
    <title>Login - Profissionais Saúde</title>
</head>

<body>
    <header>
        <h1 id="title">Tela de Login</h1>
        <p>Data hora atual: <%= new Date() %>

                <% 3 + 5 %>
        </p>
    </header>
</body>

</html>