<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<link rel="stylesheet" href="pageHome.style.css">

<body>

    <nav id="menu-h">
        <ul class="menu-list">
        <ul>
            <li>
                <a href="https://satellasoft.com">
                    Home
                </a>
            </li>

            <li><a href="https://academy.satellasoft.com">Exames</a></li>
            
            <li><a href="#">Hospital</a></li>
            
            <li><a href="#">Prontuário</a></li>
            
            <li class="logout-button"><a href="#">Sair</a></li>
        </ul>
    </ul>
    </nav>

</body>